@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

body {
    font-family: 'Roboto mono', monospace;
    /*quitamos los estilos por defecto que trae css*/
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    /*quita decoracion*/
    display: inline;
    /*para poner en forma horizontal*/

}

.home-body {
    position: fixed;
    /*Para dejar fija la page y ...>*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*Para no hacer scroll*/
}

.grid-container {
    max-width: 980px;
    margin: auto;

}

header {
    width: 100%;
    /*de derecha a izquierda en un 100%*/
    height: 50px;
    /*Altura*/
    /*dos filas */
}

header .header-icons-container {
    width: 100%;
    /*Igual de ancho que su padre*/
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    /*igual de grande como su padre como el contenedor sde la seccion*/
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;

}

header .icons span {
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30px;
}

.nav-logo-container {
    margin: 0;
    width: 20px;
    padding: 30px 50px;
}

.juego-link {
    margin-top: 200px;
    text-align: center;
}

.home-main {
    margin-top: 0px;
    height: 100%;
    display: grid;
    background-image: url('/assets/Cover.png');
    background-position: center;
    /*Para que la imagen no se mueva y quede siempre en el centro*/
    background-repeat: no-repeat;
    background-size: 100%;
}


.home-main-button-juego {
    margin-top: 150px;
    font-family: 'Roboto mono', monospace;
    font-size: 24px;
    width: 317px;
    height: 55px;
    background: yellow;
    align-items: center;
    border-radius: 15px;
    /* margin-left: 47%;  */
}

.home-main-button-juego:hover {
    background: #0583eb;
}


.home-main-button-adiciona {
    margin-top: 20px;
    font-family: 'Roboto mono', monospace;
    font-size: 24px;
    width: 317px;
    height: 55px;
    background:yellow;
    align-items: center;
    border-radius: 15px;
    /* margin-left: 47%;  */
}

.home-main-button-adiciona:hover {
    background: #0583eb;
}

.juego-main {
    background-image: url('/assets/ahorca.jpg');
    height: 90%;
    display: grid;
    background-repeat: no-repeat;
  }

.juego-container-buttons {
    align-items: center;
    margin-left: 40%;
}


.juego-main-button-Nuevo {
    margin-right: 30px;
}

.juego-main-button-Nuevo,
.juego-main-button-desistir {
  
    font-family: 'Roboto mono', monospace;
    font-size: 14px;
    width: 200px;
    height: 80px;
    background: #47cfac;
    align-items: center;
    border-radius: 15px;

}


footer {
    position: fixed; /*para dejaro fijo al final*/
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #22272d;
    /* border-top: 100px solid  #22272d; */
    text-align: center;

}

footer p {
    padding: 10px;
    color: white;
    font-size: 12px;
    margin-top: 10px;


}